---
import { Picture } from '@astrojs/image/components';

export interface Props {
  title?: string;
  subtitle?: string;
  highlight?: string;
  article: string;
  image?: string | any;
}

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  highlight,
  article = '',
  image = await Astro.slots.render('image'),
} = Astro.props;
---

<div id="about-me" class="px-4 py-16 mx-auto max-w-6xl lg:py-20">
  <div class="max-w-xl sm:mx-auto lg:max-w-2xl">
    {
      (title || subtitle || highlight) && (
        <div class="max-w-xl mb-10 md:mx-auto md:text-center lg:max-w-2xl md:mb-12">
          {highlight && (
            <p
              class="text-base text-primary dark:text-blue-200 font-semibold tracking-wide uppercase"
              set:html={highlight}
            />
          )}
          {title && (
            <h2
              class="max-w-lg mb-4 text-3xl font-bold leading-none md:tracking-tight sm:text-4xl md:mx-auto font-heading"
              set:html={title}
            />
          )}
          {subtitle && <p class="max-w-3xl mx-auto text-xl text-muted dark:text-slate-400" set:html={subtitle} />}
        </div>
      )
    }
  </div>
  <div class="max-w-7xl sm:mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
      <div class="text-muted dark:text-gray-400 flex-1">
        {article}
      </div>
      <Picture
        class="mx-auto rounded-md w-full flex-1"
        widths={[400, 768, 1024, 2040]}
        sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
        aspectRatio={1024 / 576}
        loading="eager"
        width={1024}
        height={576}
        {...image}
      />
    </div>
    <div class="grid grid-cols-1 gap-x-8 gap-y-8 lg:gap-x-16 md:grid-cols-2"></div>
  </div>
</div>
