---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features2 from '~/components/widgets/Features2.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';
import AboutMe from '~/components/widgets/AboutMe.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{ text: 'Kontaktiere mich', href: 'mailto:benjamin.mehlbm@gmail.com', icon: 'tabler:mail' }}
    callToAction2={{ text: 'mehr über mich', href: '#about-me' }}
  >
    <Fragment slot="title">
      Hallo, Ich bin <span class="bg-clip-text bg-gradient-to-r from-cyan-500 to-blue-500">Benjamin Mehl</span>
      <br /> Ihr neuer Praktikant
    </Fragment>

    <Fragment slot="subtitle">
      Ich studiere gerade Medieninformatik an der Hochschule der Medien in Stuttgart. Ich liebe es, kreativ zu sein und
      neue Lösungen zu entwickeln. In meinem Studium habe ich mich auf die Entwicklung von Web- und mobilen Anwendungen
      sowie anspruchsvollen Softwareprojekten spezialisiert.
    </Fragment>
  </Hero>

  <Note />

  <LatestPosts
    title="Was ich bisher erschaffen habe"
    information="Jedes dieser Projekte hat mich Stück für Stück zu einem besseren und organisierteren Entwickler gemacht und mir neue Fähigkeiten beigebracht."
    postIds={['sveltekit-blog']}
  />

  <Features2
    title="Was ich dabei lernen konnte"
    subtitle="Auf dem Weg durfte ich viele Technologien und Techniken kennenlernen"
    highlight="Skills"
    items={[
      {
        title: 'Sveltekit',
        description:
          'Sveltekit ist ein Webapp-Framework, welches auf Svelte basiert und performante SSR Apps ermöglicht.',
        icon: 'vscode-icons:file-type-svelte',
      },
      {
        title: 'Next.js',
        description:
          'Next.js ist ein React-Framework, das die Entwicklung von Server-seitig gerenderten Webanwendungen vereinfacht.',
        icon: 'vscode-icons:file-type-reactjs',
      },
      {
        title: 'Astro',
        description:
          'Astro ist ein Web-Framework welches Webseiten mit Kombination aus statischem und dynamischem Rendering ermöglicht.',
        icon: 'vscode-icons:file-type-astro',
      },
      {
        title: 'Spring Boot',
        description:
          'Spring Boot ist ein Open-Source-Framework für die schnelle Entwicklung von Webanwendungen auf Basis von Java.',
        icon: 'logos:spring-icon',
      },
      {
        title: 'Flutter',
        description:
          'Flutter ist ein Framework für die plattformübergreifende mobile App-Entwicklung, das auf Dart basiert.',
        icon: 'vscode-icons:file-type-flutter',
      },
      {
        title: 'PHP',
        description: 'PHP ist eine serverseitige Skriptsprache, die speziell für die Webentwicklung entwickelt wurde.',
        icon: 'logos:php',
      },
      {
        title: 'Docker & Docker Compose',
        description:
          'Docker ist eine Container-Plattform für die Entwicklung, Bereitstellung und Ausführung von Anwendungen.',
        icon: 'logos:docker-icon',
      },
      {
        title: 'Linux',
        description:
          'Linux ist ein quelloperatives Betriebssystem, das auf Unix aufbaut und häufig in Server-Systemen eingesetzt wird.',
        icon: 'logos:linux-tux',
      },
      {
        title: 'Vim',
        description:
          'Durch Vim motions konnte ich meinen Workflow deutlich verbessern und bin nun schneller und effizienter.',
        icon: 'logos:vim',
      },
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <AboutMe
    title="Wer ist Benjamin Mehl?"
    subtitle="Um mich als Person besser kennenzulernen, habe ich einen kleinen Artikel über mich geschrieben"
    highlight="Über mich"
    article1="Schon seitdem ich klein bin, hatte ich die Motivation, etwas Neues zu erschaffen. Zuerst fing dies an mit Video- und Fotobearbeitung. Jedoch war ich immer neidisch über die Möglichkeiten, die man hatte beim Entwickeln von digitalen Apps."
    article2="Dadurch versuchte ich mich am Entwickeln von Webseiten und mobilen Apps, wobei ich viel Freude empfand. In meiner Freizeit gehe ich am liebsten Klippen springen oder bastel an kleinen Programmierprojekten."
    image={{ src: import('~/assets/images/freibad.png'), alt: 'Freibad Jumping' }}
  />
</Layout>
